// hillcss main file

// Config, functions and mixins
@import "hill-api";

// Sass and HTML helper
// Overwrite variables in '_config.scss' file to configure
// the css output
@import "lib/core/text";
@import "lib/core/layout";
