$image-path: '../../images/';

@import '../styles';

.modal {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: rem(20px);
    border-radius: 10px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .1);

    &[state="is-visible"] {
        opacity: 1;
        visibility: visible;
    }

    [class*="button-"] {
        float: right;
        margin-left: rem(6px);
        margin-top: rem(10px);
    }
}

[class*="modal-input--"] {
    border: solid 1px #efefef;
    padding: rem(6px) rem(10px);
    resize: none;
    width: rem(400px);
    height: rem(200px);

    &:focus {
        outline: none;
        border-color: darken(#efefef, 10);
    }
}

.button-content {
    background-image: url($image-path + 'download.svg');
}

.button-cancel {
    background-image: url($image-path + 'square-cross.svg');
}

.box-with-content {
    background-color: transparent;
}

.box:hover:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    opacity: .9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 3px #efefef;
}

.list-container {
    opacity: 0;

    [layout*="box-"]:hover & {
        opacity: 1;
    }
}
