// SASS Unittests for public functions

// Contains helper for unittesting like should/expect abstractions
@import '../test-helper';

// Dependencies
@import '../../lib/functions';

// Define layers for testing the layer function;
$hill-layers: (
    'highest',
    'center',
    'lowest'
);

@include describe('Hill Public Functions') {

    @include it('[hill-text-is] should return correct font-size for given 'small-2x' keyname') {
        $value    : hill-text-is('small-2x');
        $expected : 0.9rem;

        @include shouldBeEqual($value, $expected);
    }

    @include it('[hill-text-is] should return correct font-size for given 'large-2x' keyname') {
        $value    : hill-text-is('large-2x');
        $expected : 1.2rem;

        @include shouldBeEqual($value, $expected);
    }

    @include it('[hill-layer] should return correct z-index') {
        $expected : 3;

        @include shouldBeEqual(hill-layer('highest'), $expected);

        $expected : 2;

        @include shouldBeEqual(hill-layer('center'), $expected);

        $expected : 1;

        @include shouldBeEqual(hill-layer('lowest'), $expected);
    }

    @include it('[hill-layer] should return largest value for first item') {
        @include shouldBeGreaterThan(hill-layer('highest'), hill-layer('center'));
        @include shouldBeGreaterThan(hill-layer('highest'), hill-layer('lowest'));
    }

    @include it('[hill-layer] should return smallest value for last item') {
        @include shouldBeSmallerThan(hill-layer('lowest'), hill-layer('highest'));
        @include shouldBeSmallerThan(hill-layer('lowest'), hill-layer('center'));
    }

    @include it('[rem] should transform px values into rems') {
        $value    : 16px;
        $expected : 1rem;

        @include shouldBeEqual(rem($value), $expected);

        $value    : 32px;
        $expected : 2rem;

        @include shouldBeEqual(rem($value), $expected);
    }

    @include it('[rem] should transform px values into rems') {
        $value    : 16px;
        $expected : 1rem;

        @include shouldBeEqual(rem($value), $expected);

        $value    : 32px;
        $expected : 2rem;

        @include shouldBeEqual(rem($value), $expected);
    }
}
