// SASS unittests for helpers functions

// Dependencies
@import '../../core/vars';
@import '../../core/helpers';

// Contains helpers for unittesting like should/expect abstractions
@import '../test-helpers';

@include describe("Hill Helpers Functions") {

    @include it("[textIs] should return correct font-size for given 'small-2x' keyname") {
        $value    : textIs('small-2x');
        $expected : 0.9rem;

        @include shouldBeEqual($value, $expected);
    }

    @include it("[textIs] should return correct font-size for given 'large-2x' keyname") {
        $value    : textIs('large-2x');
        $expected : 1.2rem;

        @include shouldBeEqual($value, $expected);
    }
}
