// SASS unittests for utilities functions

// Dependencies
@import '../../core/utilities';

// Contains helpers for unittesting like should/expect abstractions
@import '../test-helpers';

@include describe("Hill Utilities Functions") {

    @include it("[getFirstChar] should return the first char of a string") {
        $value    : getFirstChar('>small');
        $expected : '>';

        @include shouldBe($value, $expected);
    }

    @include it("[removeFirstChar] should remove the first char of a string") {
        $value    : removeFirstChar('>small');
        $expected : 'small';

        @include shouldBe($value, $expected);
    }

    @include it("[equalOnce] should compare a given char with others and return true if its equal") {
        $value   : '>';
        $matcher : '>';

        @include shouldBeTruthy(equalOnce($value, $matcher));
    }

    @include it("[equalOnce] should compare a given char with others and return false if its not equal") {
        $value   : '>';
        $matcher : '<';

        @include shouldBeFalsy(equalOnce($value, $matcher));
    }

    @include it("[equalOnce] should compare mutiple chars") {
        $value    : '<';
        $matcher1 : '>';
        $matcher2 : '<';

        @include shouldBeTruthy(equalOnce($value, $matcher1, $matcher2));
    }

    @include it("[stripUnit] should remove px unit characters") {
        $value    : 100px;
        $expected : 100;

        @include shouldBe(stripUnit($value), $expected);
    }

    @include it("[stripUnit] should remove rem unit characters") {
        $value    : 10rem;
        $expected : 10;

        @include shouldBe(stripUnit($value), $expected);
    }

    @include it("[rem] should transform px values into rems") {
        $value    : 16px;
        $expected : 1rem;

        @include shouldBe(rem($value), $expected);

        $value    : 32px;
        $expected : 2rem;

        @include shouldBe(rem($value), $expected);
    }

    @include it("[halfen] should halven given number value") {
        $value    : 16;
        $expected : 8;

        @include shouldBe(halfen($value), $expected);
    }
}
