//
// Text Helpers ----------------------------------------------------------------
//
@function hill-text ($property) {
    @return map-get($hill-text-sizes, $property);
}





//
// Global Text Classes And Attributes ------------------------------------------
//
// Generates text attributes
@if global-variable-exists(hill-text-sizes) {
    @for $i from 1 through length($hill-text-sizes) {
        $item:  nth($hill-text-sizes, $i);
        $param: nth($item, 1);
        $value: nth($item, 2);

        [#{$hill-text-namespace}*="#{$param}"] {
            font-size: $value;
        };
    }
}

[#{$hill-text-namespace}*="left"]   {text-align:  left; }
[#{$hill-text-namespace}*="right"]  {text-align:  right; }
[#{$hill-text-namespace}*="center"] {text-align:  center; }
