//
// Default Settings
// Overwrite these settings without the `!default`
// flag in your project.
// See demo for more informations
//

// TODO: Implement legacy support switcher. Global overwrites in mixins?
// $hill-legacy-support:        false !default;

// Attribute name for html -> <div hill-layout="..."></div>
$hill-layout-attribute-name: hill-layout !default;

// Attribute name for html -> <a hill-text="..."></a>
$hill-text-attribute-name:   hill-text !default;

// Box width sizes for usage in html -> .."box-50"..
$hill-layout-boxes:          (25, 50, 75, 100) !default;

// Box space definition. Set to 0, if you want to disable spaces between boxes.
$hill-layout-boxes-space:    2% !default;

// Space definition for usage in html -> .."space-right"..
// Percentage values can be defined here too.
$hill-layout-space:          40px !default;

// Breakpoints for html -> .."box-small-100".. and the 'layoutFor' helper
$hill-layout-breakpoints: (
    small:  480px,
    medium: 992px,
    large:  1280px
) !default;

// Text sizes for html -> .."small-2x".. and the 'textIs' helper
$hill-text-sizes: (
    base:     1rem,
    small-2x: 0.9rem,
    small-3x: 0.8rem,
    large-2x: 1.2rem,
    large-3x: 1.4rem
) !default;



// To configure the output css, overwrite these variables in
// your custom settings file. For more check out the demo.
$hill-layout-css-general:                 true !default;
$hill-layout-css-helpers:                 true !default;
$hill-layout-css-min-max:                 false !default;
$hill-layout-css-breakpoints:             false !default;
$hill-layout-use-classes-instead-queries: false !default;
$hill-text-css-general:                   true !default;
$hill-text-css-helpers:                   true !default;
