//
// Default Settings
// Overwrite these settings without the `!default`
// flag in your project.
// See examples for more informations
//
// e.g `$hill-layout-attribute-name: myprj-layout;`
//

// TODO: Implement legacy support switcher. Global overwrites in mixins?
// $hill-legacy-support:        false !default;

$hill-layout-attribute-name: hill-layout !default;
$hill-text-attribute-name:   hill-text !default;
$hill-layout-boxes:          (25, 50, 75, 100) !default; // overwrite with empty array -> () to disable
$hill-layout-boxes-space:    2% !default;
$hill-layout-space:          40px !default;
$hill-layout-breakpoints: (
    small:  480px,
    medium: 992px,
    large:  1280px
) !default;
$hill-text-sizes: (
    base:     1rem,
    small-2x: 0.9rem,
    small-3x: 0.8rem,
    large-2x: 1.2rem,
    large-3x: 1.4rem
) !default;



// To configure the output css, overwrite these variables in your e.g. custom settings file
$hill-layout-css-general:     true !default; // generates general selectors like 'width-50'
$hill-layout-css-helpers:     true !default; // generates helpers like 'right'
$hill-layout-css-min-max:     false !default;
$hill-layout-css-breakpoints: false !default;
$hill-text-css-general:       true !default; // generates general selectors like 'small-2x'
$hill-text-css-helpers:       true !default; // generates ghelpers like 'center'
