// Variable overwrites here!

// My custom project settings
$hill-layout-attribute-name:  layout;

$hill-layout-boxes:           (25, 33.3, 40, 50, 60, 75, 100);
$hill-layout-boxes-space:     2%;

$hill-layout-css-general:     true;
$hill-layout-css-helpers:     true;
$hill-layout-css-min-max:     false;
$hill-layout-css-breakpoints: true;
$hill-text-css-general:       false;
$hill-text-css-helpers:       false;
$hill-layout-use-classes-instead-queries: true;
$hill-layout-space:           20px;

$page-max-width:             1280px;

$hill-text-sizes: (
    base:     1rem,
    small-2x: 0.9rem,
    small-3x: 0.8rem,
    small-4x: 0.6rem,
    large-2x: 1.2rem,
    large-3x: 1.4rem
) !default;

$fore-color--primary: #444;
$back-color--primary: #e0e0e0;
