// Import first your custom project/hill settings here!
@import 'settings';

// @import '../node_modules/normalize.css/normalize.css';

// Hill full toolkit import. This file generates CSS helper classes.
// If you not need them, then overwrite the default hill setting or
// import the "hill-api.scss" here.
@import '../hill';

$image-path: '../images/' !default;

@import 'components/base';
@import 'components/box';
@import 'components/button';
@import 'components/list';
@import 'components/device';

.layout-app-container {
    margin-top: rem(60px);
    padding: rem($hill-layout-space)
             rem($hill-layout-space)
             0
             rem($hill-layout-space);
}

.layout-app {
    max-width: $page-max-width;
}

.layout-size-indicator {
    position: absolute;
    left: rem($hill-layout-space);
    top: rem($hill-layout-space);
    margin: 0;
    padding: 0;

    li {
        float: left;
        margin-right: rem(10px);
        position: relative;

        &:before {
            display: block;
            width: 6px;
            height: 6px;
            background-color: $back-color--info;
            border-radius: 50%;
            position: absolute;
            top: rem(-10px);
            left: 50%;
            margin-left: -3px;
        }
    }
}

.device-is--large .button-large-device:before,
.device-is--medium .button-medium-device:before,
.device-is--small .button-small-device:before {
    content: '';
}

.layout-remove-all {
    position: absolute;
    right: rem($hill-layout-space);
    top: rem($hill-layout-space);
}

.layout-add-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout-add-top {
    position: absolute;
    left: 50%;
    top: rem($hill-layout-space);
    transform: translateX(-50%);
}

.layout-add-bottom {
    margin: 0 auto rem($hill-layout-space) auto;
}

.layout-remove {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
}

.layout-color {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
}

[layout*="box-"] {
    // Adjust the add buttons inside the box containers
    [class*="layout-add-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .layout-add-top {
        margin-top: rem(-25px);
    }
    .layout-add-right {
        margin-left: rem(-25px);
    }
    .layout-add-bottom {
        margin-top: rem(25px);
    }
    .layout-add-left {
        margin-left: rem(25px);
    }
}

// Adjust device list icons inside a box container
[class*="layout-list-container-"] {
    position: absolute;
    top: rem(10px);
}

.layout-list-container-large {
    left: rem(65px);
}

.layout-list-container-medium {
    left: rem(35px);
}

.layout-list-container-small {
    left: rem(10px);
}

.layout-print {
    position: absolute;
    top: rem($hill-layout-space);
    right: rem(100px);
}

.layout-save {
    position: absolute;
    top: rem($hill-layout-space);
    right: rem(50px);
}

.layout-version-text {
    font-size: textIs('small-4x');
    font-family: Verdana;
    opacity: .3;
    position: fixed;
    bottom: rem($hill-layout-space);
    left: rem($hill-layout-space);
}

[state="print"] {
    .app {
        overflow: visible;
    }

    .device-is--large .device {
        position: absolute;
        left: 0;
        transform: scale(.7);
        transform-origin: left;
    }

    .device-is--medium .device {
        position: absolute;
        left: 580px;
        top: 10px;
        transform: scale(.6);
        transform-origin: left;
    }

    .device-is--small .device {
        position: absolute;
        left: 820px;
        top: 20px;
        transform: scale(.6);
        transform-origin: left;
    }

    .layout-size-indicator,
    .layout-remove-all,
    .layout-add-top,
    body > .layout-app-container,
    .layout-add-bottom,
    .layout-version-text,
    .layout-print {
        display: none;
    }
}
