// Import first your custom project/hill settings here!
@import 'settings';

// @import '../node_modules/normalize.css/normalize.css';

// Hill full toolkit import. This file generates CSS helper classes.
// If you not need them, then overwrite the default hill setting or
// import the "hill-api.scss" here.
@import '../hill';

$image-path: '../images/' !default;

@import 'components/base';
@import 'components/box';
@import 'components/button';
@import 'components/list';
@import 'components/device';
@import 'components/toolbar';

.layout-app-container {
    padding: rem($hill-layout-space)
             rem($hill-layout-space)
             0
             rem($hill-layout-space);
}

.layout-app {
    max-width: $page-max-width;
}

.layout-toolbar {
    margin: rem(20px) rem(20px) 0 0;
}

.layout-add-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout-remove {
    position: absolute;
    top: rem(10px);
    right: rem(10px);

    [layout="row"][removeable="false"] > & {
        display: none !important;
    }
}

.layout-color {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
}

[layout*="box-"] {
    // Adjust the add buttons inside the box containers
    [class*="layout-add-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .layout-add-top {
        margin-top: rem(-25px);
    }
    .layout-add-right {
        margin-left: rem(-25px);
    }
    .layout-add-bottom {
        margin-top: rem(25px);
    }
    .layout-add-left {
        margin-left: rem(25px);
    }
}

// Adjust device list icons inside a box container
[class*="layout-list-container-"] {
    position: absolute;
    top: rem(10px);
}

.layout-list-container-large {
    left: rem(65px);
}

.layout-list-container-medium {
    left: rem(35px);
}

.layout-list-container-small {
    left: rem(10px);
}

.layout-version-text {
    font-size: textIs('small-4x');
    font-family: Verdana;
    opacity: .3;
    margin: 0 0 rem(20px) rem(20px);
}

[state="print"] {
    .app {
        height: 100%;
        overflow: visible;
    }

    .device {
        top: 0;
        transform-origin: left top;
    }

    .device-is--large .device {
        position: absolute;
        left: 0;
        transform: scale(.7);
    }

    .device-is--medium .device {
        position: absolute;
        left: 580px;
        top: 10px;
        transform: scale(.6);
    }

    .device-is--small .device {
        position: absolute;
        left: 820px;
        top: 20px;
        transform: scale(.6);
    }

    .layout-app {
        display: none !important;
    }
}
