// Import first your custom project/hill settings here!
@import 'settings';

// You can also include here for example themes!
// @import 'theme';

// @import '../node_modules/normalize.css/normalize.css';

// Hill full toolkit import. This file generates CSS helper classes.
// If you not need them, then overwrite the default hill setting or
// import the "hill-api.scss" here.
@import '../hill';

$image-path: '../images/' !default;

@import 'components/base';
@import 'components/box';
@import 'components/button';
@import 'components/list';

.layout-app {
    max-width: $page-max-width;
    margin-top: rem(20px);
}

.layout-size-indicator {
    position: absolute;
    left: rem(30px);
    top: rem(16px);
    color: darken(#fff, 30);
    font-family: Verdana;

    &:after {
        content: '';
        display: inline-block;
        background-size: 100%;
        height: rem(30px);
        width: rem(30px);
        opacity: .4;
        margin: 0 0 rem(-8px) rem(6px);

        @include layoutFor('small') {
            background-image: url($image-path + 'device-phone.svg');
        }

        @include layoutFor('medium') {
            background-image: url($image-path + 'device-tablet.svg');
        }

        @include layoutFor('large') {
            background-image: url($image-path + 'device-desktop.svg');
        }
    }
}

.layout-add-styles {
    height: rem(26px);
    width: rem(26px);
    position: absolute;
    right: rem(50px);
    top: rem(20px);
}

.layout-remove-all {
    height: rem(26px);
    width: rem(26px);
    position: absolute;
    right: rem(20px);
    top: rem(20px);
}

.layout-add-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout-add-top {
    margin: 0 auto rem(10px) auto;
}

.layout-add-bottom {
    margin: rem(20px) auto 0 auto;
}

.layout-remove {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
}

.layout-color {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
}

[layout*="box-"] {
    [class*="layout-add-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .layout-add-top {
        margin-top: rem(-25px);
    }
    .layout-add-right {
        margin-left: rem(-25px);
    }
    .layout-add-bottom {
        margin-top: rem(25px);
    }
    .layout-add-left {
        margin-left: rem(25px);
    }
}

[class*="layout-list-container-"] {
    text-align: center;
    position: absolute;
    top: rem(10px);

    &:hover .list {
        opacity: 1;
        max-height: rem(300px);
        visibility: visible;
    }
}

.layout-list-container-large {
    left: rem(65px);
}

.layout-list-container-medium {
    left: rem(35px);
}

.layout-list-container-small {
    left: rem(10px);
}

.hill-text {
    font-size: textSizeIs('small-4x');
    font-family: Verdana;
    opacity: .3;
}
