// Import first your custom project/hill settings here!
@import 'settings';

// @import '../node_modules/normalize.css/normalize.css';

// Hill full toolkit import. This file generates CSS helper classes.
// If you not need them, then overwrite the default hill setting or
// import the "hill-api.scss" here.
@import '../hill';

$image-path: '../images/' !default;

@import 'components/base';
@import 'components/box';
@import 'components/button';
@import 'components/list';
@import 'components/device';

.layout-app-container {
    margin-top: rem(60px);
    padding: rem(20px) rem(20px) 0 rem(20px);
}

.layout-app {
    max-width: $page-max-width;
}

.layout-size-indicator {
    position: absolute;
    left: rem(20px);
    top: rem(20px);
    margin: 0;
    padding: 0;

    li {
        float: left;
        margin-right: rem(10px);
    }
}

.layout-remove-all {
    position: absolute;
    right: rem(20px);
    top: rem(20px);
}

.layout-add-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout-add-top {
    position: absolute;
    left: 50%;
    top: rem(20px);
    transform: translateX(-50%);
}

.layout-add-bottom {
    margin: 0 auto rem(20px) auto;
}

.layout-remove {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
}

.layout-color {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
}

[layout*="box-"] {
    // Adjust the add buttons inside the box containers
    [class*="layout-add-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .layout-add-top {
        margin-top: rem(-25px);
    }
    .layout-add-right {
        margin-left: rem(-25px);
    }
    .layout-add-bottom {
        margin-top: rem(25px);
    }
    .layout-add-left {
        margin-left: rem(25px);
    }
}

// Adjust device list icons inside a box container
[class*="layout-list-container-"] {
    position: absolute;
    top: rem(10px);
}

.layout-list-container-large {
    left: rem(65px);
}

.layout-list-container-medium {
    left: rem(35px);
}

.layout-list-container-small {
    left: rem(10px);
}

.layout-version-text {
    font-size: textIs('small-4x');
    font-family: Verdana;
    opacity: .3;
    position: fixed;
    bottom: rem(20px);
    left: rem(20px);
}
