* {
    box-sizing: border-box;
    font-size: textIs('small-2x');
}

// TODO: This section is not so laser, but at the moment okay.
html {
    @media (max-width: 480px) {
        font-family: 'small';
    }
    @media (max-width: 992px) {
        font-family: 'medium';
    }
    @media (max-width: 1280px) {
        font-family: 'large';
    }
}

html,
body {
    margin: 0;
}

body {
    font-size: textIs('small-2x');
}
