$box-back-color--default: #e0e0e0;

[layout="row"] {
    position: relative;
    margin-top: rem(20px);
    margin-bottom: rem(20px);

    & > .button-add--dashed,
    & > .button-remove {
        display: none;
    }

    &[state="is-empty"] {
        min-height: rem(180px);
        margin: 0;
        border: dashed 2px $box-back-color--default;
        border-radius: 6px;

        & + & {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        & > .button-add--dashed,
        & > .button-remove {
            display: block;
        }
    }
}

.is-second-level {
    margin: 0;
    padding: rem(40px) rem(40px) 0 rem(40px);

    .box {
        margin-bottom: rem(40px);
    }
}

.box {
    position: relative;
    background-color: $box-back-color--default;
    min-height: rem(180px);
    transition: backgroundColor .4s ease;
    margin-bottom: rem(20px);

    [class*="button-add"],
    .button-remove,
    .button-content,
    .button-color,
    .button-clear {
        opacity: 0;
    }

    &:hover [class*="button-"] {
        opacity: .4;
    }
}

.box-with-row {
    // Hide buttons, if row has another box
    & > .list-container,
    & > [class*="button-"] {
        display: none !important;
    }
}

.list-container {
    transition: opacity .4s ease;
    opacity: 0;

    [layout*="box-"]:hover & {
        opacity: 1;
    }
}
