[layout="row"] {
    position: relative;

    // Do not show add and remove button for
    // rows, which contain boxes
    & > .button-add--dashed,
    & > .button-remove {
        display: none;
    }

    &:last-child:not(.is-second-level) {
        margin-bottom: rem($hill-layout-space);
    }

    // Row containers without any boxes
    &[state="is-empty"] {
        min-height: rem(180px);
        border: dashed 2px $back-color--primary;
        border-radius: 6px;

        &:last-child {
            margin-bottom: rem($hill-layout-space * 2);
        }

        // For empty rows after the first one
        & + & {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        // Show add and remove buttons for empty row containers
        & > .button-add--dashed,
        & > .button-remove {
            display: block;
        }
    }
}

.is-second-level {
    margin: 0;
    padding: rem($hill-layout-space)
             rem($hill-layout-space)
             0
             rem($hill-layout-space);
}

.box {
    position: relative;
    background-color: $back-color--primary;
    min-height: rem(180px);
    transition: backgroundColor .4s ease;
    margin-bottom: rem($hill-layout-space);

    // Hide buttons inside boxes
    [class*="button-add"],
    .button-remove,
    .button-content,
    .button-color,
    .button-clear {
        opacity: 0;
    }

    &:hover [class*="button-"] {
        opacity: .4;
    }
}

.box-with-row {
    // Hide buttons, if box has another row with boxes
    & > .list-container,
    & > [class*="button-"] {
        display: none !important;
    }
}

// Hide device lists and show them only on hover like the buttons
.list-container {
    transition: opacity .4s ease;
    opacity: 0;

    [layout*="box-"]:hover & {
        opacity: 1;
    }
}
