$button-size: rem($hill-layout-space);
$button-opacity: .4;

[class*="button-"] {
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: $button-size;
    opacity: $button-opacity;
    transition: opacity .4s ease;
    width: $button-size;
    cursor: pointer;
    position: relative;
    background-position: center;

    &:hover,
    &[state="is-active"] {
        // Is needed to overwrite the opacity hover behaviour
        // of buttons inside box containers
        opacity: 1 !important;
    }

    // Show tooltip on hover
    &:hover:after {
        opacity: 1;
        visibility: visible;
    }
}

[tooltip]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(tooltip);
    display: inline-block;
    color: #fff;
    background-color: $fore-color--primary;
    padding: rem(6px) rem(8px) rem(8px) rem(8px);
    white-space: nowrap;
    font-family: Verdana;
    font-size: textIs('small-3x');
    transform: translateX(-50%);
    top: rem(40px);
    left: 50%;
    border-radius: 8px;
    z-index: 100;
    transition: opacity .4s ease;
}

.button-add {
    background-image: url($image-path + 'square-plus.svg');
}

.button-add--before {
    background-image: url($image-path + 'upload.svg');
}

.button-add--after {
    background-image: url($image-path + 'download.svg');
}

.button-add--dashed {
    opacity: $button-opacity;
    background-image: url($image-path + 'marquee-plus.svg');
    height: $button-size * 2;
    width: $button-size * 2;

    &:after {
        top: rem(50px);
    }
}

.button-remove {
    background-image: url($image-path + 'trash.svg');
}

.button-large-device {
    background-image: url($image-path + 'device-desktop.svg');
}

.button-medium-device {
    background-image: url($image-path + 'device-tablet.svg');
}

.button-small-device {
    background-image: url($image-path + 'device-phone.svg');
}

.button-auto {
    background-image: url($image-path + 'brightness_auto.svg');
}

.button-color {
    background-image: url($image-path + 'drop.svg');
}

.button-print {
    background-image: url($image-path + 'printer.svg');
}

.button-clear {
    background-image: url($image-path + 'broom.svg');
}

.button-save {
    background-image: url($image-path + 'disc.svg');
}
