[class*="button-"] {
    background-size: 100%;
    display: block;
    transition: opacity .4s ease;
    cursor: pointer;
    background-repeat: no-repeat;
    opacity: .4;
    height: rem(20px);
    width: rem(20px);

    &:hover,
    &[state="is-active"] {
        opacity: 1 !important;
    }
}

.button-add {
    background-image: url($image-path + 'square-plus.svg');
}

.button-add--dashed {
    opacity: .4;
    background-image: url($image-path + 'marquee-plus.svg');
    height: rem(40px);
    width: rem(40px);
}

.button-remove {
    background-image: url($image-path + 'trash.svg');
}

.button-large-device {
    background-image: url($image-path + 'device-desktop.svg');
}

.button-medium-device {
    background-image: url($image-path + 'device-tablet.svg');
}

.button-small-device {
    background-image: url($image-path + 'device-phone.svg');
}

.button-auto {
    background-image: url($image-path + 'brightness_auto.svg');
}

.button-color {
    background-image: url($image-path + 'drop.svg');
}
