$button-size: rem($hill-layout-space);
$button-opacity: .4;

[class*="button-"] {
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: $button-size;
    opacity: $button-opacity;
    transition: opacity .4s ease;
    width: $button-size;
    cursor: pointer;

    &:hover,
    &[state="is-active"] {
        // Is needed to overwrite the opacity hover behaviour
        // of buttons inside box containers
        opacity: 1 !important;
    }
}

.button-add {
    background-image: url($image-path + 'square-plus.svg');
}

.button-add--dashed {
    opacity: $button-opacity;
    background-image: url($image-path + 'marquee-plus.svg');
    height: $button-size * 2;
    width: $button-size * 2;
}

.button-remove {
    background-image: url($image-path + 'trash.svg');
}

.button-large-device {
    background-image: url($image-path + 'device-desktop.svg');
}

.button-medium-device {
    background-image: url($image-path + 'device-tablet.svg');
}

.button-small-device {
    background-image: url($image-path + 'device-phone.svg');
}

.button-auto {
    background-image: url($image-path + 'brightness_auto.svg');
}

.button-color {
    background-image: url($image-path + 'drop.svg');
}
