@import '../../core/helpers';

$list-back-color: darken($back-color--primary, 10);
$list-fore-color: lighten($fore-color--primary, 70);

.list {
    background-color: $list-back-color;
    border-radius: 6px;
    color: $list-fore-color;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: rem(6px);
    position: absolute;
    transition: all .4s ease;
    visibility: hidden;
    // Adjust list
    left: rem(-6px);
    top: rem(50px);

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: solid 6px transparent;
        border-bottom: solid 6px $list-back-color;
        position: absolute;
        // Adjust arrow
        top: rem(-12px);
        left: rem(10px);
    }

    li {
        margin-top: rem(4px);
        cursor: pointer;

        &:hover,
        &[state="is-active"] {
            color: $fore-color--primary;
        }
    }
}

.list-container-value {
    font-size: textIs('small-3x');
}

.button-large-device,
.button-medium-device,
.button-small-device {
    padding-top: rem(24px);
}
